/* Write your code here: */
/* Group Selector */
h1,h2{
    color: blueviolet;
}

/* Child Selector */
.box > p {
    color: firebrick;
}

/* Descendant*/
.box .list{
    color: blue;
}

/*Chain Selector*/
li.done{
    color: seagreen;
}

/*Combining Combiners*/
ul p.done{
    font-size: 0.5rem;
}